.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.hint {
  position: absolute;
  align-self: center;
  top: 10px;
  min-width: 70%;
  max-width: 90%;
  background-color: white;
  outline-offset: unset;
  border: solid 3px #FFCC33;
  border-radius: 20px;
  font-size: 16px;
  font-family: Roboto;
  padding: 10px;
}

.map-container {
  width: 100%;
  height: 100%;
}

.footer {
  position: absolute;
  align-self: end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  bottom: 10px;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFCC33;
  font-family: Roboto;
  font-size: 20px;
  color: white;
  border-radius: 20px;
  padding: 15px 30px;
}
