<div class="content" [ngStyle]="{'background-image': 'url(./assets/back.svg)'}">
  <div class="text">
    АВТОРИЗАЦИЯ
  </div>
  <form [formGroup]="form" class="fields">
    <label><input id="phone" type="number" formControlName="phone" placeholder="Номер телефона"></label>
    <label><input id="name" type="text" formControlName="name" placeholder="Имя"></label>
    <label><input name="type" type="radio" value="quest" formControlName="type">Квест</label>
    <label><input name="type" type="radio" value="exhibition">Экскурсия</label>
  </form>
  <button (click)="submit()">Войти</button>
</div>
